<?php $_order = $block->getLastOrder(); ?>
<tr class="subtotal">
    <th colspan="5" class="mark textalign-right" scope="row"><?=  /* @escapeNotVerified */ __('Subtotal') ?></th>
    <td class="amount textalign-right" data-th="Subtotal"><span class="price"><?= $_order->formatPrice($_order->getBaseSubtotal()) ?></span></td>
</tr>
<?php if ($_order->getBaseShippingAmount() != 0): ?>
    <tr class="shipping">
        <th colspan="5" class="mark textalign-right" scope="row"><?=  /* @escapeNotVerified */ __('Shipping & Handling') ?></th>
        <td class="amount textalign-right" data-th="Shipping & Handling"><span class="price"><?= $_order->formatPrice($_order->getBaseShippingAmount()) ?></span></td>
    </tr>
<?php endif; ?>
<?php if ($_order->getBaseDiscountAmount() != 0): ?>
    <tr class="discount">
        <th colspan="5" class="mark textalign-right" scope="row"><?=  /* @escapeNotVerified */ __('Discount') ?></th>
        <td class="amount textalign-right" data-th="Discount"><span class="price"><?= $_order->formatPrice($_order->getBaseDiscountAmount()) ?></span></td>
    </tr>
<?php endif; ?>
<tr class="grand_total">
    <th colspan="5" class="mark textalign-right" scope="row"><strong><?=  /* @escapeNotVerified */ __('Grand Total') ?></strong></th>
    <td class="amount textalign-right" data-th="Grand Total"><strong><span class="price"><?= $_order->formatPrice($_order->getBaseGrandTotal()) ?></span></strong>
    </td>
</tr>