<?php $socialMedia = $this->fetchAnalyticsData()?>
<?php $totals = $this->fetchAnalyticsTotals()?>
<div class="sl-dashboard">
    <table>
        <thead>
        <tr>
            <th class="al-left"><strong><?=__('Customers Types')?></strong></th>
            <th class="al-right"><strong><?=__('# Users')?></strong></th>
            <th class="al-right"><strong><?=__('% Users')?></strong></th>
            <th class="al-right"><strong><?=__('# Orders')?></strong></th>
            <th class="al-right"><strong><?=__('% Orders')?></strong></th>
            <th class="al-right"><strong><?=__('# Items')?></strong></th>
            <th class="al-right"><strong><?=__('% Items')?></strong></th>
            <th class="al-right"><strong><?=__('Revenue')?></strong></th>
            <th class="al-right"><strong><?=__('% Revenue')?></strong></th>
        </tr>
        </thead>

        <tbody>
        <?php foreach($socialMedia as $label => $data) :?>
            <tr>
                <td class="al-left"><?php echo $label;?></td>
                <td class="al-right"><?= $data->getUsersNo();?></td>
                <td class="al-right"><?= $data->getUsersPrecent();?></td>
                <td class="al-right"><?= $data->getOrdersNo();?></td>
                <td class="al-right"><?= $data->getOrdersPercent();?></td>
                <td class="al-right"><?= $data->getItemsNo();?></td>
                <td class="al-right"><?= $data->getItemsPercent();?></td>
                <td class="al-right"><?= '$'.$data->getRevenue();?></td>
                <td class="al-right"><?= $data->getRevenuePercent();?></td>
            </tr>
        <?php endforeach;?>
        </tbody>

        <tfoot>
            <tr>
                <td><strong><?=__('Total')?></strong></td>
                <td><strong><?= $totals->getTotalCustomers()?></strong></td>
                <td><strong>100%</strong></td>
                <td><strong><?= $totals->getTotalOrders()?></strong></td>
                <td><strong>100%</strong></td>
                <td><strong><?= $totals->getTotalOrdersItems()?></strong></td>
                <td><strong>100%</strong></td>
                <td><strong><?= '$'.$totals->getTotalRevenue()?></strong></td>
                <td><strong>100%</strong></td>
            </tr>
        </tfoot>

    </table>
</div>
