<?php
$customer = $block->getCustomer();
$token = ($this->isLoggedIn()) ? $customer->getRpToken() : $this->getCustomerToken();
if ($customer) {
    $queryParams = [
        '_query' => [
            'id' => $customer->getId(),
            'token' => $token
        ],
        '_nosid' => 1
    ];
    $markup = '<script type="application/ld+json">
                {
                  "@context": "http://schema.org",
                  "@type": "EmailMessage",
                  "potentialAction": {
                    "@type": "ViewAction",
                    "target": "' . $this->getFrontendUrl('customer/account/createPassword', $queryParams) . '",
                    "name": "Reset Password"
                  },
                  "description": "Reset Your Password"
                }
            </script>';
} else {
    $markup = '
        <pre>
            &lt;<span>script type="application/ld+json"</span><span>></span>
                {
                  "@context": "http://schema.org",
                  "@type": "EmailMessage",
                  "potentialAction": {
                    "@type": "ViewAction",
                    "target": "http://example.com/id/123",
                    "name": "Reset Passsword"
                  },
                  "description": "Reset Your Passsword"
                }
            &lt;<span>/script</span>>
        </pre>
    ';
}
?>
<?= $markup ?>