<?php
$user = $block->getUser();
$queryParams = [
    '_query' => [
        '_query_id' => $user->getId(),
        '_query_token' => $user->getRpToken()
    ],
    '_nosid' => 1
];
if ($user) {
    $markup = '<script type="application/ld+json">
                {
                  "@context": "http://schema.org",
                  "@type": "EmailMessage",
                  "potentialAction": {
                    "@type": "ViewAction",
                    "target": "' . $this->getUrl('admin/auth/resetpassword', $queryParams) . '",
                    "name": "Reset Password"
                  },
                  "description": "Reset Password"
                }
            </script>';
} else {
    $markup = '
        <pre>
            &lt;<span>script type="application/ld+json"</span><span>></span>
                {
                  "@context": "http://schema.org",
                  "@type": "EmailMessage",
                  "potentialAction": {
                    "@type": "ViewAction",
                    "target": "http://example.com/resetPassword",
                    "name": "Reset Password"
                  },
                  "description": "Reset Password"
                }
            &lt;<span>/script</span>>
        </pre>
    ';
}
?>
<?= $markup ?>