<a href="<?= /* @escapeNotVerified */ $this->getLightLogoLink()?>" >
    <img alt="<?= /* @escapeNotVerified */ $this->getLightLogoAlt() ?>"
         width="<?= /* @escapeNotVerified */ $this->getLightLogoWidth() ?>"
         height="<?= /* @escapeNotVerified */ $this->getLightLogoHeight() ?>"
         src="<?= /* @escapeNotVerified */ $this->getLightLogo() ?>"
    />
</a>