<?php
// @codingStandardsIgnoreFile

/** @var $block \Magento\Downloadable\Block\Sales\Order\Email\Items\Downloadable */ ?>
<?php $_item = $block->getItem() ?>
<?php $_order = $block->getItem()->getOrder(); ?>
<?php $_order = $block->getItem()->getCreditmemo()->getOrder(); ?>
<?php $prodImg = $block->getImage($block->getProductForThumbnail(), 'cart_page_product_thumbnail'); ?>
<tr>
    <?php if($prodImg) :?>
        <td class="img" style="width: 140px; border-top: 0 none !important; padding: 35px 10px; border-bottom: 1px dotted #000000;">
            <img class="photo image"
                 src="<?= /* @escapeNotVerified */ $prodImg ?>"
                 width="130"
                 alt="<?= $block->escapeHtml($_item->getName()) ?>">
        </td>
    <?php endif; ?>
    <td class="item-info has-extra" colspan="2" style="position: relative !important; border-top: 0 none !important; padding: 35px 10px; border-bottom: 1px dotted #000000;">
        <p class="item-name" style="margin-top: 0 !important;"><?= $block->escapeHtml($_item->getName()) ?></p>
        <div class="item-detail" style="margin: 5px 0; font-size: 12px;">
            <p style="color: #aaaaaa"><?= /* @escapeNotVerified */  __('Item') ?>: <?= $block->escapeHtml($block->getSku($_item)) ?></p>
            <?php if ($block->getItemOptions()): ?>
                <?php foreach ($block->getItemOptions() as $option): ?>
                    <p style="color: #aaaaaa"><?= /* @escapeNotVerified */  $option['label']. ': ' . nl2br($option['value'])?></p>
                <?php endforeach; ?>
            <?php endif; ?>
            <?php if ($links = $block->getLinks()->getPurchasedItems()): ?>
                <p style="color: #aaaaaa"><?= /* @escapeNotVerified */  $block->getLinksTitle() ?></p>
                <?php foreach ($links as $link): ?>
                    <p>
                        <?= $block->escapeHtml($link->getLinkTitle()) ?>
                    </p>
                <?php endforeach; ?>
            <?php endif; ?>
            <?= $block->escapeHtml($_item->getDescription()) ?>
        </div>
        <div class="item-price" style="position: absolute !important; bottom: 15px; text-align: left !important; margin-bottom: 25px !important">
            <p ><?= /* @escapeNotVerified */ $_order->formatPrice($_item->getBasePrice()) ?> x <?= /* @escapeNotVerified */  $_item->getOrderItem()->getQtyOrdered() * 1 ?></p>
        </div>
    </td>
    <td class="item-subtotal" style="vertical-align: bottom; text-align: right; border-top: 0 none !important; padding: 40px 10px; border-bottom: 1px dotted #000000;">
        <p><?= /* @escapeNotVerified */  $block->getItemPrice($_item->getOrderItem()) ?></p>
    </td>
</tr>
