<?php
// @codingStandardsIgnoreFile

/** @var $_item \Magento\Sales\Model\Order\Item */
$_item = $block->getItem();
$prodImg = $block->getImage($block->getProductForThumbnail(), 'cart_page_product_thumbnail'); ?>
<tr>
    <?php if($prodImg) :?>
        <td class="img" style="width: 140px; border-top: 0 none !important; padding: 35px 10px; border-bottom: 1px dotted #000000;">
            <?= $prodImg->toHtml() ?>
        </td>
    <?php endif; ?>
    <td class="item-info" style="position: relative !important; border-top: 0 none !important; padding: 35px 10px; border-bottom: 1px dotted #000000;">
        <p class="item-name" style="margin-top: 0 !important;"><?= $block->escapeHtml($_item->getName()) ?></p>
        <div class="item-detail">
            <p style="color: #aaaaaa"><?= /* @escapeNotVerified */  __('Item') ?>: <?= $block->escapeHtml($block->getSku($_item)) ?></p>
            <?php if ($block->getItemOptions()): ?>
                <?php foreach ($block->getItemOptions() as $option): ?>
                    <p style="color: #aaaaaa"><?= /* @escapeNotVerified */  $option['label']. ': ' . nl2br($option['value'])?></p>
                <?php endforeach; ?>
            <?php endif; ?>
            <?php $addInfoBlock = $block->getProductAdditionalInformationBlock(); ?>
            <?php if ($addInfoBlock) :?>
                <?= $addInfoBlock->setItem($_item->getOrderItem())->toHtml() ?>
            <?php endif; ?>
            <?= $block->escapeHtml($_item->getDescription()) ?>
        </div>
    </td>
    <td class="item-subtotal" style="vertical-align: bottom; text-align: right; border-top: 0 none !important; padding: 40px 10px; border-bottom: 1px dotted #000000;"><?= /* @escapeNotVerified */ __('Qty: ') .  $_item->getQty() * 1 ?></td>
</tr>
